
.moo-lah-lah-regular {
  font-family: "Moo Lah Lah", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase
}

 body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  gap: 30px;             
  padding: 20px;
}

.card {
  background-color: whitesmoke;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  width: 90%;           
  max-width: 1200px;    
  text-align: center;
  /* border-left: 5px solid #d34b1a ; */
  box-shadow: -5px 0px 1px #d34b1a;
  
}
button {
  background-color: #d34b1a;
  border-radius: 12px;
  padding: 10px 20px;
  color: #fff;
  border: 1px solid orangered;
  font-size: 1rem;
  margin-top: 15px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}


button:hover {
  background-color: white;
  color: #d34b1a; /* pour que le texte reste visible */
  border-color: #d34b1a;
}
            
     input {
        height: 2rem;
        padding: 0 0.5rem;
        border-radius: 12px;
        border : none;
        border : 1px solid orangered;
    }
